@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root { /*Aqui creo un variable para aplicar el tipo de fuente a todo el documento*/
    --tipoFuente: 'Montserrat', sans-serif;
        cursor: url(img/cursor.png), default;
}


.menu ul li a, a:visited, a:active, a:link{
    text-decoration: none !important; /*me quita el subrallado pero no el color*/
    color: whitesmoke; 
}

body {
    font-family: var(--tipoFuente); /*selecciono la variable para el tipo de fuente*/
    background-color: #eaeef6; /* Color de fondo */
    display: grid;
    justify-content: center;
}


.menu > ul {
    margin: 5%;
    text-shadow: 0px 2px 0px #0a0b0c;
    width: 450px;
    display: flex; /* Alineo los elementos como flexibles    */
    flex-direction: row;
    list-style: none; /* Quito los puntos de la lista */
    padding: 20px 0px;
    border-radius: 50px;
    border: 3px solid #3e3f40;
    justify-content: center;
    background-color: #656573;
    box-shadow: 0px 8px 16px 0px #0604047e;
    opacity: 25%;

}

.menu > ul:hover{
    opacity: 100%;
    transition: 300ms;
}

li{
    margin: auto;
    font-size: 18px;

}

li:after{ /* crea un pseudo-elemento que es el último hijo del elemento seleccionado. */
    display: block;
    content: "  ";
    border-bottom: 2px solid whitesmoke; /*crea un subrayado*/
    padding-bottom: 1%;
    transform: scaleX(0); /* Inicia en posicion 0 */
    transition: 400ms ease /* 0,4segundos en realizar la animación */
}

li:hover::after{
    transform: scaleX(1); /* Realiza el subrayado con un ancho de 1 elemento al pasar el ratón */
}

.anchomenu{
    width: 500px; 
    margin: 0em auto;
}

.anchomax{
    max-width: 800px;
    margin: 0em auto;
}

.anchomax > img{
   /*max-width: 500px;
   background-color: aquamarine;*/
    height: 500px;
    width: auto;
} 

.wrapper{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}

.wrapper > *{
    padding: .5rem;
    /* border: 1px solid tomato; */
    display: block;
    
}

.wrapper2 > *{
    padding: .5rem;
    /* border: 1px solid tomato; */
    display: block;
    
}

.wrapper2{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}

.wrapper2 > *{
    padding: .5rem;
    /* border: 1px solid tomato; */
    display: block;
    
}


.caja1 > img{

    border-radius: 50px;
    border: 3px solid #3e3f40;
    
}

.caja1{
    grid-column: span 4;
}

.caja3{
    grid-column: span 2;
    text-align: justify;
    width: 500px;
    /* border: 2px solid tomato; */

}

.caja3 > a{
    text-decoration: none;
    color: #0a0b0c;
    font-weight: 900;
}

.cajac1 > img{

    border-radius: 50px;
    border: 3px solid #3e3f40;
    
}

.cajab1{
    grid-column: span 4;
}

.cajaF1{
    grid-column: span 4;
}

.cajaF2{
    grid-column: span 4;
    margin-left: 105px;
    
}

.cajaF3{
    grid-column: span 4;
    width: 500px;    
}

.cajaF3 > video{
    width: 500px;
}

header{
    /*border: 3px solid;*/
    width: 100%;
}

.box1{
    grid-column: span 4;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.box2{
    grid-column: span 2;
    text-align: left;
}

.box3{
    grid-column: span 2;
    text-align: left;
}

.box4 {
    grid-column: span 2;
    text-align: left;
}

.box5{
    grid-column: span 2;
    text-align: left;
}

.box6{
    grid-column: span 4;
    text-align: center;
    
}

.box7{
    grid-column: span 4;
    text-align: center;

}

.enviar{
    background-color: #3e3f40;
    color: whitesmoke;
    width: 120px;
    height: 40px;
    font-size: 18px;
}

.textarea{
    width: 280px;
    height: 80px;
}


/*AQUI EMPIEZAN LOS MEDIA QUERY*/

@media (max-width: 550px) {

.anchomax > img{
    height: 250px;
    width: auto;
}

.wrapper2 > *{
    height: 250px;
    width: auto;
}

.menu > ul {
    margin: 5%;
    text-shadow: 0px 2px 0px #0a0b0c;
    width: 450px;
    flex-direction: column;
    list-style: none; /* Quito los puntos de la lista */
    padding: 20px 0px;
    border-radius: 50px;
    border: 3px solid #3e3f40;
    justify-content: center;
    background-color: #656573;
    box-shadow: 0px 4px 8px 0px #0c0c0c7e;
    opacity: 25%;

}

/*AQUI EL SIGUIENTE ESTILO DE 0PX A 550PX */

}

