@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root { /*Aqui creo un variable para aplicar el tipo de fuente a todo el documento*/
    --tipoFuente: 'Montserrat', sans-serif;

}

body {
    font-family: var(--tipoFuente); /*selecciono la variable para el tipo de fuente*/
    background-color: #999ea7; /* Color de fondo */
}

ul {
    margin: 5%;
    width: 450px;
    display: flex; /* Alineo los elementos como flexibles    */
    flex-direction: row;
    list-style: none; /* Quito los puntos de la lista */
    padding: 20px 0px;
    border-radius: 25px;
    border: 1px solid #3e3f40;
    background-color: #b8b8bf;
    box-shadow: 0px 4px 8px 0 #0c0c0c7e 0 6px 20px 0 #4e4a657e

}

li{
    margin: auto;
    color: whitesmoke;
    font-size: 18px;
}